.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  width: 30%;
}

.loginInput {
  display: flex;
  flex-direction: column;
}

.loginInput span {
  color: white;
}

.loginContainer span {
  padding: 0.5rem;
}

.loginContainer input[type='text'],
.loginContainer input[type='password'] {
  padding: 0.5rem;
  outline: none;
  cursor: text;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 1.2rem;
}

.loginContainer button {
  margin: 1rem auto;
  width: fit-content;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.5s;
}

.loginContainer button:hover {
  background: green;
  color: white;
  border-radius: 5px;
}
