.postsContainer {
  width: 70%;
  margin: 1rem auto;
  /* border: 1px solid white; */
}

.post_title {
  text-align: center;
  background: black;
  color: white;
  padding: 0.5rem;
  border-radius: 5px 0 0 5px;
  margin-right: auto;
}

.post {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
  margin: 0.5rem 0;
}

.newPost {
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  margin: 1rem;
  width: 50%;
}

.newPost input[type='text'] {
  padding: 0.5rem;
  width: 90%;
  outline: none;
}

.newPost span {
  color: white;
  margin-right: 1rem;
  white-space: nowrap;
  padding: 0.5rem;
}

.sendPost {
  padding: 0.5rem;
  cursor: pointer;
  transition: 1s;
  margin-left: 0.5rem;
  border-radius: 4px;
  border: 1px solid white;
}

.sendPost:hover {
  background: white;
  color: black;
  border-radius: 4px;
}

.post_post {
  width: 100%;
  margin-right: auto;
  background: white;
  color: black;
  padding: 0.5rem;
  text-align: center;
}

.deletePost {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background: rgb(172, 16, 16);
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.deletePost:hover {
  color: red;
  background: white;
}

.editPost {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background: rgb(245, 241, 22);
  padding: 0.5rem;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: 0.5s;
}

.editPost:hover {
  color: black;
  background: white;
}

.editPostOptions{
  padding: 0.5rem;
  cursor: pointer;
  transition: 1s;
  margin-left: 0.5rem;
}