.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logout {
  position: absolute;
  bottom: 1rem;
  right: 3rem;
  margin: 1rem auto;
  width: fit-content;
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.5s;
  color: white;
}

.logout:hover {
  background: white;
  color: black;
  border-radius: 5px;
}

.loginRegister {
  color: white;
  cursor: pointer;
}

.loginRegister:hover {
  text-decoration: underline;
  text-decoration-color: rgb(168, 202, 17);
  text-decoration-thickness: 2px;
}

.message {
  color: rgb(85, 255, 85);
}
