.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  width: 30%;
}

.registerInput {
  display: flex;
  flex-direction: column;
}

.registerInput span {
  color: white;
}

.registerContainer span {
  padding: 0.5rem;
}

.registerContainer input[type='text'],
.registerContainer input[type='email'],
.registerContainer input[type='password'] {
  padding: 0.5rem;
  outline: none;
  cursor: text;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 1.2rem;
}

.registerContainer button {
  margin: 1rem auto;
  width: fit-content;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  transition: 0.5s;
}

.registerContainer button:hover {
  background: green;
  color: white;
  border-radius: 5px;
}

.error{
  color: red;
}